<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.note.dao.mapper.NoteDoMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.note.dao.model.NoteDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="note_name" property="noteName" jdbcType="VARCHAR" />
    <result column="is_dir" property="isDir" jdbcType="BIT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="file_key" property="fileKey" jdbcType="VARCHAR" />
    <result column="create_timestamp" property="createTimestamp" jdbcType="TIMESTAMP" />
    <result column="last_modify_timestamp" property="lastModifyTimestamp" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, note_name, is_dir, parent_id, file_key, create_timestamp, last_modify_timestamp, 
    user_id, deleted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.note.dao.model.NoteDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from note
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from note
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from note
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.note.dao.model.NoteDoExample" >
    delete from note
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.note.dao.model.NoteDo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into note (note_name, is_dir, parent_id, 
      file_key, create_timestamp, last_modify_timestamp, 
      user_id, deleted)
    values (#{noteName,jdbcType=VARCHAR}, #{isDir,jdbcType=BIT}, #{parentId,jdbcType=BIGINT}, 
      #{fileKey,jdbcType=VARCHAR}, #{createTimestamp,jdbcType=TIMESTAMP}, #{lastModifyTimestamp,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=BIGINT}, #{deleted,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.note.dao.model.NoteDo" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into note
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="noteName != null" >
        note_name,
      </if>
      <if test="isDir != null" >
        is_dir,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="fileKey != null" >
        file_key,
      </if>
      <if test="createTimestamp != null" >
        create_timestamp,
      </if>
      <if test="lastModifyTimestamp != null" >
        last_modify_timestamp,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="noteName != null" >
        #{noteName,jdbcType=VARCHAR},
      </if>
      <if test="isDir != null" >
        #{isDir,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="fileKey != null" >
        #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null" >
        #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTimestamp != null" >
        #{lastModifyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.note.dao.model.NoteDoExample" resultType="java.lang.Integer" >
    select count(*) from note
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update note
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.noteName != null" >
        note_name = #{record.noteName,jdbcType=VARCHAR},
      </if>
      <if test="record.isDir != null" >
        is_dir = #{record.isDir,jdbcType=BIT},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.fileKey != null" >
        file_key = #{record.fileKey,jdbcType=VARCHAR},
      </if>
      <if test="record.createTimestamp != null" >
        create_timestamp = #{record.createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyTimestamp != null" >
        last_modify_timestamp = #{record.lastModifyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.deleted != null" >
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update note
    set id = #{record.id,jdbcType=BIGINT},
      note_name = #{record.noteName,jdbcType=VARCHAR},
      is_dir = #{record.isDir,jdbcType=BIT},
      parent_id = #{record.parentId,jdbcType=BIGINT},
      file_key = #{record.fileKey,jdbcType=VARCHAR},
      create_timestamp = #{record.createTimestamp,jdbcType=TIMESTAMP},
      last_modify_timestamp = #{record.lastModifyTimestamp,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=BIGINT},
      deleted = #{record.deleted,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.note.dao.model.NoteDo" >
    update note
    <set >
      <if test="noteName != null" >
        note_name = #{noteName,jdbcType=VARCHAR},
      </if>
      <if test="isDir != null" >
        is_dir = #{isDir,jdbcType=BIT},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="fileKey != null" >
        file_key = #{fileKey,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null" >
        create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyTimestamp != null" >
        last_modify_timestamp = #{lastModifyTimestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.note.dao.model.NoteDo" >
    update note
    set note_name = #{noteName,jdbcType=VARCHAR},
      is_dir = #{isDir,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=BIGINT},
      file_key = #{fileKey,jdbcType=VARCHAR},
      create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
      last_modify_timestamp = #{lastModifyTimestamp,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>