body {
	background-color: #EAEDEF;
}

.btn-xxs {
	line-height: 10px;
	padding: 1px 2px;
	background-color: #E8EAEC;
}

.nav-item {
	background-image: linear-gradient(#E3E7E9, #E0E5E7);
	border-top: 1px solid #D4D4D4;
	border-bottom: 1px solid #D4D4D4;
	width: 100%;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 14px;
	-moz-user-select: none;
	-webkit-user-select: none;
}

.nav-item-ind {
	font-size: 8px !important;
}

.nav-item-title {
	padding-left: 5px;
	font-weight: bold;
	font-size: 12px;
}

.nav-item-oper {
	margin: 3px 0px;
}

.nav-item-body {
	width: 100%;
	padding-bottom: 15px;
}

.tree-item {
	padding: 2px 10px 2px 0px;
	color: #EAEDEF;
	font-size: 11px;
	white-space: nowrap;
	width: 100%;
}

.tree-item:hover {
	background-color: #D1D4D7;
	color: #555E64;
	cursor: pointer;
}

.tree-item-selected {
	background-color: #C2C9CE;
}

.tree-item-ind {
	font-size: 8px !important;
	width: 0px;
}

.tree-item-icon, .tree-item-title {
	color: #555E64;
}

.tree-item-body {
	width: 100%;
}